@font-face {
font-family: 'circe';
src: url("fonts/circe/CRC55.otf") format("opentype");
}

@font-face {
font-family: 'circe';
font-weight: bold;
src: url("fonts/circe/CRC65.otf") format("opentype");
}

@font-face {
font-family: 'circe';
font-weight: light;
src: url("fonts/circe/CRC35.otf") format("opentype");
}