@font-face {
font-family: 'neoSans';
src: url("fonts/NeoSans/NeoSansStd-Regular.otf") format("opentype");
}

@font-face {
font-family: 'neoSans';
font-weight: bold;
src: url("fonts/NeoSans/NeoSansStd-Bold.otf") format("opentype");
}

@font-face {
font-family: 'neoSans';
font-weight: light;
src: url("fonts/NeoSans/NeoSansStd-Light.otf") format("opentype");
}